
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Category</span></li>
                        </ol>
                        <h1>Statistics - Country</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="main-box clearfix">
        <header class="main-box-header clearfix">
            <h2 class="pull-left">Period</h2>
        </header>

        <div class="main-box-body clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <div style="width:100%">
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-danger" style="width:100%">All</button>
                        </div>
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-default" style="width:100%">1 Day</button>
                        </div>
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-default" style="width:100%">1 Week</button>
                        </div>
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-default" style="width:100%">14 Days</button>
                        </div>
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-default" style="width:100%">1 Month</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2 class="pull-left">Error by Country</h2>
        </header>

        <div class="main-box-body clearfix">
            <div class="row" ng-controller="statistic_country_error_rating">

                <div class="col-md-7">
                    <div id="statistic_country_error_rate" style="width: 100%; height: 400px"></div>
                </div>

                <div class="col-md-5">
                    <div class="map-stats">
                        <div class="table-responsive">
                            <table class="table table-condensed table-hover">
                                <thead>
                                <tr>
                                    <th><span>Country</span></th>
                                    <th class="text-center"><span>Count</span></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="c in clist">
                                    <td>
                                        {{c.country}}
                                    </td>
                                    <td class="text-center">
                                        {{c.count}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
