
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Category</span></li>
                        </ol>
                        <h1>Statistics - Device</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12">
    <div class="main-box clearfix">
        <header class="main-box-header clearfix">
            <h2 class="pull-left">Period</h2>
        </header>

        <div class="main-box-body clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <div style="width:100%">
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-danger" style="width:100%">All</button>
                        </div>
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-default" style="width:100%">1 Day</button>
                        </div>
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-default" style="width:100%">1 Week</button>
                        </div>
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-default" style="width:100%">14 Days</button>
                        </div>
                        <div style="width: 19.5%; display: inline-block;">
                            <button type="button" class="btn btn-default" style="width:100%">1 Month</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-lg-12">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2>Error Rate by Device</h2>
        </header>

        <div class="main-box-body clearfix" ng-controller="statistic_device_error_rating">
            <div id="statistic_device_error_rate"></div>
        </div>
    </div>
</div>


<div ng-controller="statistic_device_circle_repeat">
    <div ng-repeat="c in circle">
        <div class="col-lg-4">
            <div class="main-box clearfix project-box green-box">
                <div class="main-box-body clearfix">
                    <div class="project-box-header green-bg">
                        <div class="name">
                            <a href="">{{c.device}}</a>
                        </div>
                    </div>

                    <div class="project-box-content">
					<span class="chart" easypiechart options="options" percent="c.count">
						<span class="percent"></span>%<br/>
                        total : {{total}}
					</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>