
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Category</span></li>
                        </ol>
                        <h1>Insights</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="panel panel-default" ng-controller="overview_weekly_error">
    <div class="panel-heading clearfix">
        <span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i> Weekly Errors</span>
    </div>
    <div class="panel-body" id="trafficWidget">
        <div id="placeholder" class="graph" style="height:250px"></div>
    </div>
</div>


<div class="col-lg-12" ng-controller="insight_donut">
    <div class="main-box">
        <header class="main-box-header clearfix">
            <h2>Rank Rating</h2>
        </header>

        <div class="main-box-body clearfix">
            <div id="hero-donut"></div>
        </div>
    </div>
</div>


<div class="col-lg-12">
    <div class="main-box clearfix">
        <header class="main-box-header clearfix">
            <h2>Recommend Error List</h2>
        </header>

        <div class="main-box-body clearfix">
            <div class="table-responsive">
                <table id="table-example" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Count</th>
                        <th>Error Name</th>
                        <th>Tags</th>
                    </tr>
                    </thead>
                    <tbody ng-controller="insight_recommend_error_list"> <!-- ng-repeat="error in errors" -->
                    <tr>
                        <td>{{error.rank}}</td>
                        <td>{{error.numofinstances}}</td>
                        <td>{{error.errorname}}</td>
                        <td>Tags Test</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>