
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Category</span></li>
                        </ol>
                        <h1>Overview</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" ng-controller="overview_weekly_error">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="pull-left"><i class="fa fa-bar-chart-o fa-lg"></i> Weekly Errors</span>
        </div>
        <div class="panel-body" id="trafficWidget">
            <div id="placeholder" class="graph" style="height:250px"></div>
        </div>
    </div>
</div>



<div class="col-lg-6 col-md-6 col-sm-6" ng-controller="overview_most_session_app_ver">
    <div class="main-box clearfix project-box green-box">
        <div class="main-box-body clearfix">
            <div class="project-box-header green-bg">
                <div class="name">
                    <a href="">
                        Most Session by App Version
                    </a>
                </div>
            </div>

            <div class="project-box-content">
					<span class="chart" easypiechart options="options" percent="percent">
						<span class="percent"></span>%<br/>
                        {{appversion}}
					</span>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-6 col-md-6 col-sm-6" ng-controller="overview_most_error_app_ver">
    <div class="main-box clearfix project-box red-box">
        <div class="main-box-body clearfix">
            <div class="project-box-header red-bg">
                <div class="name">
                    <a href="">
                        Most Error by App Version
                    </a>
                </div>
            </div>

            <div class="project-box-content">
					<span class="chart" easypiechart percent="percent" options="options">
						<span class="percent"></span>%<br/>
						{{appversion}}
					</span>
            </div>

        </div>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12" ng-controller="overview_most_error_device">
    <div class="main-box small-graph-box emerald-bg">
        <span class="headline">Device</span>
        <span class="value">{{device_name}}</span>
        <div class="progress">
            <div ng-style=" { 'width' : width }" aria-valuemax="100" aria-valuemin="0" aria-valuenow="4" role="progressbar" class="progress-bar">
            </div>
        </div>
			<span class="subinfo">
				<i class="fa fa-globe"></i> {{device_count}} Device Count
			</span>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12" ng-controller="overview_most_error_sdk">
    <div class="main-box small-graph-box green-bg">
        <span class="headline">SDK</span>
        <span class="value">{{sdk_level}}</span>
        <div class="progress">
            <div ng-style=" { 'width' : width }" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar">
            </div>
        </div>
			<span class="subinfo">
				<i class="fa fa-globe"></i> {{sdk_count}} SDK Count
			</span>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12" ng-controller="overview_most_error_country">
    <div class="main-box small-graph-box red-bg">
        <span class="headline">Country</span>
        <span class="value">{{country_name}}</span>
        <div class="progress">
            <div ng-style=" { 'width' : width }" aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar">
                <!--<span class="sr-only">84% Complete</span>-->
            </div>
        </div>
			<span class="subinfo">
				<i class="fa fa-globe"></i> {{country_count}} Country Count
			</span>
    </div>
</div>

<div class="col-md-3 col-sm-6 col-xs-12" ng-controller="overview_most_error_class">
    <div class="main-box small-graph-box yellow-bg">
        <span class="headline">Class</span>
        <span class="value">{{class_name}}</span>
        <div class="progress">
            <div ng-style=" { 'width' : width }"  aria-valuemax="100" aria-valuemin="0" aria-valuenow="84" role="progressbar" class="progress-bar">
                <!--<span class="sr-only">84% Complete</span>-->
            </div>
        </div>
			<span class="subinfo">
				<i class="fa fa-globe"></i> {{class_count}} Class Count
			</span>
    </div>
</div>

