<script>
    $(document).ready(function() {
        $(".openModal").click(function(){
            $("#uploadModal").modal();
        });

        $("#upload").click(function(){
            $("#form_upload").submit();
        });

    });
</script>


<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div id="content-header" class="clearfix">
                    <div class="pull-left">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active"><span>Settings</span></li>
                        </ol>
                        <h1>Proguard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12" ng-controller="proguardList">
    <div class="main-box clearfix">
        <header class="main-box-header clearfix">
            <h2>Recommend Error List</h2>
        </header>


        <div class="main-box-body clearfix">
            <button type="button" class="openModal btn btn-primary btn-sm" id="">File Upload</button>

            <div class="main-box-body clearfix">
                <div id="dropzone">
                    <form id="demo-upload" class="dropzone dz-clickable" action="#">
                        <div class="dz-default dz-message">
                            <span>Drop files here to upload</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>



        <div class="main-box-body clearfix">
            <div class="table-responsive">
                <table id="table-example" class="table table-hover">
                    <thead>
                    <tr>
                        <th>File Name</th>
                        <th>App Version</th>
                        <th>Upload Time</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-controller="insight_recommend_error_list"> <!-- ng-repeat="error in errors" -->
                    <tr>
                        <td>File Name</td>
                        <td>App Version</td>
                        <td>Upload Time</td>
                        <td>remove</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--<div class="main-box clearfix" style="min-height: 820px;">-->
    <!--<header class="main-box-header clearfix">-->
        <!--<h2>Drag &amp; Drop file upload</h2>-->
    <!--</header>-->

    <!--<div class="main-box-body clearfix">-->
        <!--<div id="dropzone">-->
            <!--<form id="demo-upload" class="dropzone dz-clickable" action="#">-->
                <!--<div class="dz-default dz-message">-->
                    <!--<span>Drop files here to upload</span>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!-- Modal -->
<div class="modal fade" id="uploadModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title">File Upload</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline" action="http://api2.honeyqa.io/upload" method="post" enctype="multipart/form-data" id="form_upload">
                    <div class="form-group">
                        <input type="file" name="uploadFile">
                        <input type="hidden" name="currParam" id="currParam">
                        <p class="help-block"></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="upload">Upload</button>
            </div>
        </div>
    </div>
</div>
